.App{
  width:33vw;
float:right;
}


.Weer{
  float:left;
}


.App *{
   font-family: 'Lato', sans-serif;
   font-weight: 300;
 }

.App h1 {
   font-family: 'Lato', sans-serif;
   font-size: 5vw;
   font-weight: 300;
   line-height: 58px;
   margin: 0 0 0px;

 }


 .App h2 {
    font-size: 3vh;

  }


.App table{
  width: 100%
}

.App .weer {
  background: -webkit-linear-gradient(right, #859aa1, #717E82); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient( left, #859aa1, #717E82); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient( left, #859aa1, #717E82); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to  left, #859aa1, #717E82); /* Standard syntax (must be last) */
  width: 33vw;
  height: 100vh;
}



 img{
	display: block;
   margin: 0 auto;
	 margin-top: 1;
}




#wind{
  margin-top: 5vh;
  width: 10vw;
}

#weather{
  margin-top: 5vh;
  width: 15vw;
}
