
.App {
  width:32vw;
  float:right;
}

.water{
  float: right;
}

.App div {
  text-align: center;
  display: inline-block;
  width: 10vw;
  font-size: 12px;
  vertical-align:top;
}

.App *{
   font-family: 'Lato', sans-serif;
   font-weight: 300;
 }

.App h1 {
   font-family: 'Lato', sans-serif;
   font-weight: 300;
   line-height: 58px;
 }

.App .water {
  background-color: rgba(200, 200, 200,0.8);
  width: 33vw;
  height: 95vh;
}

.containor{
  
}

.App .water:hover{
  background-color: rgba(200, 200, 200,0.9);
}
