* { margin: 0;
    padding: 0;
   }

   header button{
     outline: none;
     color:#ff9900;
     font-size: 2.5vw;
     display: inline;
     float: right;
     margin-top: -8vw;
     background:#3e3e3f;
     padding: 1vw;
     border:0 none;
   }

   header img{
     height: 3vw;
   }

header{
  margin: auto;
  height: 5vw;
  background-color: #3e3e3f;
  color:#EEEEEE;
  font-family: 'Lato', sans-serif;

}

header h1{

  position: relative;
  font-size: 4vw;
  font-weight: 300;
  line-height: 3.5vw;
  height: 0px;
}

#orange{
  color:#ff9900;
}

header h3{
  font-weight: 300;
  font-size: 1.5vw;
  line-height: 8vw;
}


.nav{
  overflow: scroll;
  margin-top: 7vh;
  width:calc(100% - 33vw);
  float:left;
  background: white;
  height: 86vh;
}

#plan{

  margin-top:5vh;
  width: 60vw;
}

#plan_pic{
  width: inherit;
  position: absolute;

}

#label{
  width: 2vw;
  position: absolute;
  top: calc(10vw - 5vh);
  left: 40vw;
}

#nav{
  height: calc(78.5vh - 5vw);
  border-left: 1px solid black;
  padding-left: 3vw;
  padding-right: 3vw;
  float: right;
  padding-top: 5vh;
  fill: rgba(255, 158, 44, .5);
  stroke:black;
  stroke-width: 1px;

}

#svg_container{
  display: block;
  margin: auto;
  width: calc(55vw);
  height: calc(55vw / 2);
}
#svgPic{
  width: calc(55vw);
  height: auto;
}

.label{
    display: block;
  width: calc(2vw);
  height: auto;
}

#label_1{
  x: 29.7vw;
  y: 0.5vw;
}

#label_2{
  x: 32.6vw;
  y: 0.5vw;
}

#label_3{
  x: 31.2vw;
  y: 3.5vw;
}
